*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#loginn{
    margin: 80px;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:rgb(146, 34, 103);
    border-radius: 20px;
    text-align: center;

}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 15px;
}
#btn1{
    border: none;
    border-radius: 20px;
    padding:15px ;
    cursor: pointer;
    background-color: rgb(28, 190, 7);
    margin: 20px;
}